{% extends 'partials/base.html' %}
{% load static %}

{% block title %}{{ certification.certification_title }}{% endblock %}

{% block content %}
<section class="certification-detail-section">
    <div class="container2">
        <h1>{{ certification.certification_title }}</h1>
        {% if certification.certification_image %}
            <img src="{{ certification.certification_image.url }}" alt="{{ certification.certification_title }}" class="certification-image">
        {% endif %}
        <p><strong style="color: #800020;">Issued By:</strong> {{ certification.issuing_organization }}</p>
        <!-- <p><strong>Date Awarded:</strong> {{ certification.awarded_date|date:"F j, Y" }}</p> -->
        <p><strong style="color: #800020;">Description:</strong> {{ certification.certification_description|safe }}</p>
        <a href="{% url 'pages:home' %}" class="view-details-btn">Back to Home</a>
    </div>
</section>
{% endblock %}
